// Place all the styles related to the Trainers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* TAKEN FROM w3 SCHOOLS */
/* The switch - the box around the slider */

/* TAKEN FROM w3 SCHOOLS */


.header {
	background-color: gray;
	display: inline-block;
	text-align: center;
	margin: auto;
	padding: none;
}

.leaderBoard {


}

ul.trainerBoard{
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    list-style: none outside none;

}

ul.tokimonBoard {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    list-style: none outside none;

}

.spacer {
	padding-bottom: 50px;
}

ul.trainerBoard li {
	display: inline-block;
	text-align: center;
    font-size: 16px;
    width: 300px;
 
}

ul.tokimonBoard li {
	display: inline-block;
	text-align: center;
	margin: auto;
	padding-bottom: 30px;
	width: 100px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

ul.trainerBoard li a {
    text-decoration: none;
    display: inline;
    font-size: 16px;
    color: #003366;
}

ul.tokimonBoard li a {
    text-decoration: none;
    display: inline;

}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #CCCCCC;
}

.trainerHeaders {
	text-align: center;	
	margin: auto;
	width: 50%;
}

.centerText {
	text-align: center;
	font-size: 16px;
	padding-bottom: 50px;
	padding-top: 20px;
}