<h1>New Tokimon</h1>

<div class="centerText">
	<%= render 'trainerselector', trainers: @trainers %>
	<br/>
	<br/>
	<%= render 'form', tokimon: @tokimon %>


	<%= link_to 'Back', tokimons_path %>

</div>